.highlights{
    width: 90%;
    margin: auto;

    > div{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 40px;
        
        h3{
            font-weight: 300;
            font-size: 25px;
        }

        img{
            width: 80%;
            margin: 20px;
            object-fit: cover;
            box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.411);
        }

        .link{
            color: #1CB0BA;
            text-decoration: none;
        }

        p{
            font-weight: 300;
            line-height: 1.5em;
        }

        > div {
            position: relative;
        }
        
    }

    .left{
        img{
            margin-left: 0; 
        }
    }

    .right{
        img{
            margin-right: 0;
            float: right;
        }
        .link{
            float: right;
        }
    }

    .decoration1{
        background: #E3D82F;
        width: 45px; 
        height: 45px;
        position: absolute;
        top: -30px; 
        right: 0;
        border-radius: 5px;
        margin: 15px;
    }

    .decoration2{
        background:#1CB0BA;;
        width: 90px; 
        height: 45px;
        position: absolute;
        bottom: -15px; 
        right: 0;
        border-radius: 5px;
        margin: 15px;
    }

    .decoration3{
        background:#121344;;
        width: 90px; 
        height: 45px;
        position: absolute;
        top: -15px; 
        left: 0;
        border-radius: 5px;
        margin: 15px;
    }

    .decoration4{
        background:#1CB0BA;;
        width: 45px; 
        height: 45px;
        position: absolute;
        bottom: -15px; 
        left: 0;
        border-radius: 5px;
        margin: 15px;
    }
}


@media (min-width: 800px){
    .highlights{

        h3{
            font-size:  32px !important;
            margin-bottom: 22px;
        }

        p{
            font-size: 20px;
            margin-bottom: 55px;
        }
        > div{
            flex-direction: row;

            >div{
                flex: 1;
                margin: auto 50px;
            }


        }

        .right{
            flex-direction: row-reverse;
        }
    }
}