.home_about{
    padding: 10px;
    > div {
        margin: 30px auto;
        > *{ margin: 10px;}
    }

    img{
        width: 50px;
        object-fit: cover;
    }

    p{
        font-weight: 200;
        font-size: 16px !important;
        line-height: 29px;
    }
    
    
}

.buttons{
    width: 150px;
    padding: 10px 20px;
    color: white;
     border: none;
     background: #17124E;
     border-radius: 25px;
     margin: auto;
     margin-left: 50vw;
     transform: translateX(-50%)
}

@media (min-width: 800px){
    .home_about{
        display: flex;
        justify-content: space-around;
        padding: 50px;

        > div {
            padding: 20px 0;
            width: 300.77px;
        }

        img{
            height: 50px;
            object-fit: contain;
        }

    }
}