.carousel{
    height: 100%;
    position: relative;
    img{
        max-height: 230px;
        object-fit: contain;
        display: block;
        padding: 10px;
    }
}

@media (min-width: 800px){
    .carousel{
        img{
            height: 406px;
            max-height: 100%;
        }
    }
}