*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

header{
    width: 100vw; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    padding: 20px 10px;
    background: white;
    img {
        height: 20px;
        margin: auto 0;
    }

    *{
        font-size: 30px !important;
    }
   
}